#dagger
{
   text-align:center;
}
#logo
{
  
   background-repeat: no-repeat;
   background-position:top center;
}


#demo
{
     text-align: center;
     outline-style: solid;
     outline-color:gold;
     background-color: chartreuse;
}
#demo1
{
   text-align: center;
   outline-style: solid;
   outline-color: black;
   background-color: chartreuse;
}
#demo2
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo3
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo4
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo5
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo5
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo6
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo7
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo8
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo9
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo10
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo11
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo12
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo13
{
   background-color:skyblue;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo14
{
   background-color:skyblue;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo15
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
   
}
#demo16
{
   background-color:hotpink;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
   
}
#demo17
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
   
}
#demo17
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
   
}
#demo17
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
   
}
#demo18
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo19
{
   background-color:hotpink;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo20
{
   background-color: teal;
}
#demo21
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo22
{
   background-color:hotpink;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo23
{
   background-color:gold;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo24
{
 background-color: aqua;
 outline-style: solid;
 outline-color: brown;
 width: fit-content;
 
}
#demo25
{
   outline-style: solid;
   outline-color: black;
   background-color: chartreuse;
   width: fit-content;
}
#demo26
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo27
{
   background-color:hotpink;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo28
{
   background-color:hotpink;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo29
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo30
{
   background-color: lightpink;
   outline-color: lightpink;
   width:fit-content;
   text-align:center;
}
#demo31
{
   background-color:orangered;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo32
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo33
{
   background-color: lightpink;
   outline-color: lightpink;
   width:fit-content;
   text-align:center;
}
#demo34
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo35
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo36
{
   background-color: lightpink;
   outline-color: lightpink;
   width:fit-content;
   text-align:center;
}
#demo37
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo38
{
   background-color: rgb(26, 192, 214);
   outline-color: lightpink;
   width:fit-content;
   text-align:center;
}
#demo39
{
   background-color:chartreuse;
   outline-color: lightpink;
   width:fit-content;
   text-align:center;
}
#demo40
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo41
{
   background-color:chartreuse;
   outline-color: lightpink;
   width:fit-content;
   text-align:center;
}
#demo42
{
   background-color: rgb(26, 192, 214);
   outline-color: lightpink;
   width:fit-content;
   text-align:center;
}
#demo43
{
   background-color: lightpink;
   outline-color: lightpink;
   width:fit-content;
   text-align:center;
}
#demo44
{
   background-color: rgb(193, 145, 255);
   outline-color: lightpink;
   width:fit-content;
   text-align:center;
}
#demo45
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo46
{
   background-color:chartreuse;
   outline-color: lightpink;
   width:fit-content;
   text-align:center;
}
#demo47
{
   background-color:rgb(209, 255, 44);
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo48
{
   background-color:rgb(209, 255, 44);
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo49
{
   background-color:rgb(209, 255, 44);
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo50
{
   background-color:rgb(209, 255, 44);
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo51
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo52
{
   background-color: rgb(193, 145, 255);
   outline-color: lightpink;
   width:fit-content;
   text-align:center;
}
#demo53
{
   width:fit-content;
   text-align: center;
}
#demo54
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo55
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo56
{
   background-color:rgb(209, 255, 44);
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo57
{
   background-color: rgb(193, 145, 255);
   outline-color: lightpink;
   width:fit-content;
   text-align:center;
}
#demo58
{
   background-color:hotpink;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo59
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo60
{
   background-color:rgb(209, 255, 44);
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo61
{
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo62
{
   background-color:hotpink;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo63
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo64
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}                
#demo65
{
   background-color:hotpink;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo66
{
   background-color:rgb(209, 255, 44);
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo67
{
   background-color: rgb(193, 145, 255);
   outline-color: lightpink;
   width:fit-content;
   text-align:center;
}
#demo68
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}                
#demo69
{
   background-color:hotpink;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo70
{
   background-color:rgb(209, 255, 44);
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo71
{
   background-color: rgb(193, 145, 255);
   outline-color: lightpink;
   width:fit-content;
   text-align:center;
}
#demo72
{
   background-color:rgb(209, 255, 44);
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo73
{
   background-color:rgb(209, 255, 44);
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo74
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}    
#demo75
{
   background-color:orange;
   outline-style:solid;
   outline-color:black;
   width:fit-content;
   text-align: center;
}
#demo76
{
   background-color:aqua;
   outline-style:solid;
   outline-color:black;
   text-align: center;
}



